<button (click)="onSortNameAsc()">{{"home.sortaz" | translate}}</button>
<button (click)="onSortNameDesc()">{{"home.sortza" | translate}}</button>
<button (click)="onSortPriceAsc()">{{"home.sort-price-asc" | translate}}</button>
<button (click)="onSortPriceDesc()">{{"home.sort-price-desc" | translate}}</button>

<div *ngFor="let product of products">
  <div routerLink="/toode/{{product.id}}">
    <img src="{{product.imgSrc}}" alt="">
    <div>{{ product.name }} </div>
    <div>{{ product.price }} </div>
  </div>
  <button (click)="onAddToCart(product)">{{"home.add-to-cart" | translate}}</button>
</div>

<lib-toastify-toast-container 
[position]="'bottom-right'">
</lib-toastify-toast-container>