<app-carousel></app-carousel>

<div [ngClass]="{'selected-category': selectedCategory === 'all'}" (click)="onFilterByCategory('all')">Kõik kategooriad</div>
<div [ngClass]="{'selected-category': selectedCategory === category}" (click)="onFilterByCategory(category)" *ngFor="let category of categories">
  {{ category }}
</div>

<app-filter-bar [products]="products"></app-filter-bar>

<div *ngFor="let product of products" [ngClass]="{'active': product.isActive && isLoggedIn, 'in-active': !product.isActive && isLoggedIn}">
  <div *ngIf="product.isActive || isLoggedIn">
    <app-product-card [isLoggedIn]="isLoggedIn" [product]="product"></app-product-card>
  </div>
</div>

<lib-toastify-toast-container 
[position]="'bottom-right'">
</lib-toastify-toast-container>