<ngb-carousel class="carousel-wrapper" *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div [ngClass]="{'selected-category': selectedCategory === 'all'}" (click)="onFilterByCategory('all')">Kõik kategooriad</div>
<div [ngClass]="{'selected-category': selectedCategory === category}" (click)="onFilterByCategory(category)" *ngFor="let category of categories">
  {{ category }}
</div>

<button (click)="onSortNameAsc()">{{"home.sortaz" | translate}}</button>
<button (click)="onSortNameDesc()">{{"home.sortza" | translate}}</button>
<button (click)="onSortPriceAsc()">{{"home.sort-price-asc" | translate}}</button>
<button (click)="onSortPriceDesc()">{{"home.sort-price-desc" | translate}}</button>

<div *ngFor="let product of products" [ngClass]="{'active': product.isActive && isLoggedIn, 'in-active': !product.isActive && isLoggedIn}">
  <div *ngIf="product.isActive || isLoggedIn">
    <button *ngIf="isLoggedIn" class="change-button" routerLink="/admin/muuda/{{product.id}}">Muuda</button>
    <div routerLink="/toode/{{product.id}}">
      <img src="{{product.imgSrc}}" alt="">
      <div>{{ product.name }} </div>
      <div>{{ product.price }} </div>
    </div>
    <button (click)="onAddToCart(product)">{{"home.add-to-cart" | translate}}</button>
    </div>
</div>

<lib-toastify-toast-container 
[position]="'bottom-right'">
</lib-toastify-toast-container>