<button class="btn btn-secondary" routerLink="/">Avalehele</button>
<button class="btn btn-secondary" routerLink="/admin">Admin vaatesse</button>
<button class="btn btn-secondary" routerLink="/ostukorv">Ostukorv</button>
<br><br>

<router-outlet></router-outlet>  <!-- avaleht.html  / ostukorv.html -->

<!-- alati kirjutatakse HTML atribuute esimese tagi sisse -->
<!-- tumesinised: tagid -->
<!-- valge: kasutajale näidatav -->
<!-- helesinine: HTML atribuut, muutujad, direktiivid -->
<!-- oranž: meie kirjutatud väärtus -->

<!-- command promptis ng serve järel
    parem klõps - inspect - console  -->

<!-- cannot match any routes: ostuk -->