.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  margin: 0 10%;
}

.cart-item-pic {
  width: 225px;
}

.cart-item-name {
  width: 300px;
}

.cart-item-price {
  width: 80px;
}

.cart-item-quantity {
  width: 50px;
  margin: 0 10px;
}

.cart-item-total {
  width: 90px;
  font-weight: bold;
}

.cart-item-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: .5s;
}

.cart-item-button:hover {
  opacity: 1.0;
  transition: .5s;
}

.sum-of-cart {
  font-weight: bold;
  font-size: 22px;
  margin: 0 10%;
  text-align: right;
}

.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.disabled:hover {
  opacity: 0.2;
}