<div class="cart-item" *ngFor="let product of cartProducts">
  <img class="cart-item-pic" src="{{product.cartProduct.imgSrc}}" alt="">
  <div class="cart-item-name">{{ product.cartProduct.name }} </div>
  <div class="cart-item-price">{{ product.cartProduct.price | productPrice}} </div>
  <div>
    <img class="cart-item-button" src="assets/minus.png" (click)="onDecreaseQuantity(product)" />
    <span class="cart-item-quantity">{{ product.quantity }} </span>
    <img class="cart-item-button" src="assets/plus.png" (click)="onIncreaseQuantity(product)" />
  </div>
  <div class="cart-item-total">{{ (product.cartProduct.price * product.quantity) | productPrice }}</div>
  <img class="cart-item-button" src="assets/delete.png" (click)="onRemoveFromCart(product)" />
</div>

<select 
  *ngIf="!selectedParcelMachine" 
  [(ngModel)]="selectedParcelMachine"
  (ngModelChange)="onSelectedPMachine()">
  <option value="" disabled>Vali pakiautomaat</option>
  <option *ngFor="let pMachine of parcelMachines" value="{{pMachine.NAME}}">{{pMachine.NAME}}</option>
</select>


<div *ngIf="selectedParcelMachine">
  <span>Valitud pakiautomaat: {{ selectedParcelMachine }}</span>
  <button (click)="onDeleteParcelMachine()">X</button>
</div>

<div class="sum-of-cart">{{ sumOfCart | productPrice }}</div>
<!-- 
  [{cartProduct:{id: 3122, name: "Fanta", price: 4}, quantity: 1}, 
{cartProduct:{id: 3123, name: "Coca", price: 4}, quantity: 1}] 
-->

<!-- 
  [{id: 3122, name: "Fanta", price: 4},
  {id: 3123, name: "Coca", price: 4}] 
-->
    