<!-- Need on igal lehel nähtavad -->
<div routerLink="/">Avaleht</div>
<button routerLink="/ostukorv">Ostukorv</button>
<!-- Esimese tag-i sees on omadused, kahe tag-i vahel
on lehel väljanäidatav sõna -->


<!-- Siia tekivad seosed app-routing failist
kontrollitakse mis on URL ja näidatakse vastavat Componenti -->
<router-outlet></router-outlet>

<!-- ng serve - kompileerimise errorid
kood pakitakse kokku ja samas kontrollitakse
kood kas kõik on korrektne -->

<!-- parem klõps -> inspect -> console
run-time errorid, need juhtuvad siis
kui kasutaja teeb lehel midagi valesti -->